URxvt*depth: 32
URxvt*colorBD:          #ffffff
URxvt*scrollTtyOutput: false
URxvt*skipScroll: true
URxvt*fading: 30
URxvt*visualBell: false
URxvt*font: xft:terminus-medium:pixelsize:12,\
		xft:Kochi Gothic:antialias=false,\
URxvt*boldFont: xft:terminus:bold:pixelsize:12,\
		xft:kochi-gothic-bold:antialias=false
URxvt*italicFont:  xft:Bitstream Vera Sans Mono:italic:autohint=true:pixelsize=12
URxvt*boldItalicFont:  xft:Bitstream Vera Sans Mono:bold:italic:autohint=true:pixelsize=12

URxvt*perl-ext:
URxvt*perl-ext-common: default,clipboard
URxvt*iso14755: false
URxvt*keysym.Shift-Control-C: perl:clipboard:copy
URxvt*keysym.Shift-Control-V: perl:clipboard:paste
URxvt*clipboard.copycmd: xsel -ib
URxvt*clipboard.pastecmd: xsel -ob

URxvt.inputMethod: ibus 
URxvt.preeditType: OverTheSpot

! special
URxvt*foreground:   #f8f8f2
URxvt*background:   [80]#272822
URxvt*cursorColor:  #f8f8f2
!
! ! black
URxvt*color0:       #272822
URxvt*color8:       #75715e
!
! ! red
URxvt*color1:       #f92672
URxvt*color9:       #f92672
!
! ! green
URxvt*color2:       #a6e22e
URxvt*color10:      #a6e22e
!
! ! yellow
URxvt*color3:       #f4bf75
URxvt*color11:      #f4bf75
!
! ! blue
URxvt*color4:       #66d9ef
URxvt*color12:      #66d9ef
!
! ! magenta
URxvt*color5:       #ae81ff
URxvt*color13:      #ae81ff
!
! ! cyan
URxvt*color6:       #a1efe4
URxvt*color14:      #a1efe4
!
! ! white
URxvt*color7:       #f8f8f2
URxvt*color15:      #f9f8f5
